.legend-chart {
  position: relative;
  border: 1px solid #eee;
  border-radius: 2px;
  
  .attributes {
    padding: 4px;
  }
  
  .button.edit {
    position: absolute;
    right: 3px;
    top: 3px;
    color: #0481d0;
    border: 1px solid #0481d0;
  }
}

.legend-attribute {  
  display: inline-block;
  padding: 2px;
  position: relative;

  .edit {
    display: none;
  }

  &.edit {
    border: 1px solid #eee;
    border-radius: 2px;
    padding-left: 76px;

    .edit {
      display: inline-block;
    }
  }  
}

.checkbox  {
  position: relative;
  padding-left: 20px;
  
  input[type=checkbox] {
    display: none;
  }
}

.indicator {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: white;
  border: 1px solid black;
  
  .checkbox input:checked ~ & {
    background-color: black;
  }
  
  &:after {
    position: absolute;
    display: none;
    content: '';
    
    .checkbox input:checked ~ & {
      display: block;
    }
    
    .checkbox & {
      left: 4px;
      top: 1px;
      width: 2px;
      height: 6px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}

.select {
  position: absolute;
  top: 2px;
  display: inline-block;
  height: 12px;
  width: 12px;
  border: 1px solid #aaa;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  
  &:hover {
    cursor: pointer;
  }
  
  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    left: 12px;
    top: -1px;
    display: block;
    width: 9px;
    height: 12px;
    border: 1px solid #aaa;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  
  &.pressed {
    border-color: #666;
    
    &:after {
      background-color: #666;
      border-color: #666;
    }

    .triangle {
      border-bottom: 5px solid #fff;
    }
  }
  
  .triangle {
    position: absolute;
    display: block;
    right: -8px;
    top: 5px;
    width: 0;
    height: 0;
    border-bottom: 5px solid #aaa;
    border-left: 5px solid transparent;
  }
}

.select--color {
  left: 18px;
}

.select--chart {
  left: 44px;
  font-size: 12px;
  padding-left: 2px;
  padding-right: 2px;

  &:after {
    left: 16px;
  }
}