@mixin pieChartRules($pie-chart) {
  $p_arc_separator_color: map-get($pie-chart, "arcSeparatorColor");

  path.arc {
    stroke: $p_arc_separator_color;
  }
  path.highlight {
    opacity: 0.3;
  }
}
