.color-picker.cc-component {
	position: relative;

	.color-select {
		display: block;
		width: 150px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		margin: 0 4px 4px 0;

		.label {
			font-size: 14px;
			font-weight: bold;
			color: #fff;
		}
	}
	.color-select:hover {
		cursor: pointer;
	}
	.color-picker-palette {
		width: 300px;
		border: 1px solid #ddd;
		position: absolute;

		.color-picker-palette-header {
			padding: 5px 10px 5px 10px;
			background-color: #ddd;

			.color-picker-palette-title {
				font-weight: bold;
			}
			.color-picker-palette-close {
				float: right;
				cursor: pointer;
			}
		}
		.color-picker-palette-body {
			padding: 10px;
			background-color: #fff;

			.color-picker-palette-color {
				display: inline-block;
				width: 32px;
				height: 32px;
				margin: 1px;
				cursor: pointer;
			}
		}
	}
}
