@mixin scatterPlotRules($scatter-plot) {
  $p_point_opacity: map-get($scatter-plot, "pointOpacity");
  $p_point_hovered_opacity: map-get($scatter-plot, "hoveredPointOpacity");
  $p_point_hovered_edge_width: map-get($scatter-plot, "hoveredPointEdgeWidth");
  $p_point_hovered_edge_color: map-get($scatter-plot, "hoveredPointEdgeColor");
  $p_point_hovered_cursor: map-get($scatter-plot, "cursorOverPoint");

  .point {
    
    circle {
      opacity: $p_point_opacity;
      transition: .1s all;
      
      /*
      &:hover {
        opacity: $p_point_hovered_opacity;
      } */
      
    }

    text {
      shape-rendering: geometricPrecision;
      font-family: FontAwesome;
      alignment-baseline: middle;
      text-anchor: middle;
      transition: .1s all;
    }

    &:hover {
      /* stroke-width: $p_point_hovered_edge_width;
      stroke: $p_point_hovered_edge_color; */
      cursor: $p_point_hovered_cursor;
      shape-rendering: geometricPrecision;
      
      circle {
        opacity: $p_point_hovered_opacity;
      }
      
      text {
        fill: #fff;
      }
    }
  }
}
