// greyScale
$white: #ffffff;
$snowWhite: #fafafa;
$ashGrey2: #dddddd;
$ashGrey: #aaaaaa;
$grey: #808080;
$darkGrey: #707070;
$blackGrey: #222222;
$black: #000000;

// Blue
$oceanBlue: #00529B;
$dimmedBlue: #D0E0EA;
$solidBlue: #2196f3;
$lightBlue: #BDE5F8;

$rubyRed: #D8000C;
$lightPink: #FFBABA;
$mayo: #FEEFB3;

// Orange
$darkOrange: #9F6000;
$orange: #ff6f00;
