// greyScale
$white: #ffffff;
$snowWhite: #fafafa;
$ashGrey2: #dddddd;
$ashGrey: #aaaaaa;
$grey: #808080;
$darkGrey: #707070;
$blackGrey: #222222;
$black: #000000;

// Blue
$oceanBlue: #00529B;
$dimmedBlue: #1f77b4;
$solidBlue: #2196f3;
$lightBlue: #BDE5F8;

$rubyRed: #D8000C;
$lightPink: #FFBABA;
$mayo: #FEEFB3;

// Orange
$darkOrange: #9F6000;
$orange: #ff6f00;

// Theme colors
$themeC1: #3F51B5;
$themeC1dark: #283163;
$themeC2: #2196F3;
$themeC2dark: #195482;
$themeC3: #0FBFAD;
$themeC3dark: #10685F;
$themeC4: #6CBD70;
$themeC4dark: #3F6741;
$themeC5: #EA8235;
$themeC5dark: #7E4A23;
$themeC6: #F44455;
$themeC6dark: #832B33;
$themeC7: #F77A99;
$themeC7dark: #844655;
$themeC8: #9CB0C5;
$themeC8dark: #57616B;
$themeC9: #6686A6;
$themeC9dark: #3C4C5C;
$themeC10: #374B60;
$themeC10dark: #242E39;