.filter-item.cc-component {
  .accessor-data-checkbox {
    cursor: pointer;
  }
  .accessor-data-checkbox-label {
    cursor: pointer;
  }
  .accessor-data-chart-type-select {
    float: right;
  }
}
