/**
* Styles specific for contrail-examples.
*/
html {
	overflow-y: scroll;
}

#simpleChart {
	position: relative;
	margin: 30px;
	width: 75%;
}

#complexChart {
	position: relative;
	margin: 30px;
	width: 75%;
}

#complexChart-mainChart {
	position: relative;
}

#complexChart-controlPanel {
	position: absolute;
	top: 0px;
	right: 0px;
}

#complexChart-navigation {
	margin-bottom: 25px;
}

#chart1 {
	width: 45%;
	display: inline-block;
}

#chart2 {
	width: 45%;
	display: inline-block;
}
