{{#each series}}
<div class="color-select" style="background-color: {{color}}" data-accessor="{{accessor}}">
  <span class="label">{{label}}</span>
</div>
{{/each}}
<div class="color-picker-palette">
  <div class="color-picker-palette-header">
    <span class="color-picker-palette-title"></span>
    <span class="color-picker-palette-close">
      <i class="fa fa-remove"/>
    </span>
  </div>
  <div class="color-picker-palette-body">
    {{#each colors}}
    <span class="color-picker-palette-color" style="background-color: {{this}}">&nbsp;</span>
    {{/each}}
  </div>
</div>
