@mixin barChartRules($bar-chart) {
  $p_opacity: map-get($bar-chart, "barOpacity");
  $p_activeOpacity: map-get($bar-chart, "activeBarOpacity");

  .bar {
    opacity: $p_opacity;
  }
  .bar.active {
    opacity: $p_activeOpacity;
  }
}
