#cpuMemChart {
    position: relative;
    width: 100%;
}

#cpuMemChart-xyChart {
    position: relative;
}

#cpuMemChart-controlPanel {
    position: absolute;
    top: 0px;
    right: 0px;
}

#cpuMemChart-navigation {
    margin-bottom: 25px;
}

#cpuMemChart-message {
    height: 100px;
    width: 250px;
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translateX(50%);
}

#cpuMemChart-message .message-body {
    font-family: 'Open Sans';
    font-size: 15px;
    font-weight: 100;
}

