<script type="text/x-handlebars-template" id="control-panel-filter-container">
    <div class="control-panel-filter-container">
        <div class="control-panel-filter-head">
            <span class="control-panel-filter-head-icon"><i class="{{activeButton.iconClass}}"></i></span>
            <span class="control-panel-filter-title-text">{{activeButton.title}}</span>
            <span class="control-panel-filter-close"><i class="fa fa-remove"></i></span>
        </div>
        <div class="control-panel-filter-body">
            {{#each items}}
            {{> controlPanelFilterItems}}
            {{/each}}
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="control-panel-filter-items">
    <div class="control-panel-filter-per-axis"><label class="filter-axis-label">{{@key}}</label>
        {{#each this}}
            {{> controlPanelFilterItem}}
        {{/each}}
    </div>
</script>

<script type="text/x-handlebars-template" id="control-panel-filter-item">
    <div class="control-panel-filter-item">
        <input id="filter-item-input-{{accessor}}" type="checkbox" name="control-panel-filter" class="accessor-data-checkbox" value="{{accessor}}">
        <label for="filter-item-input-{{accessor}}" class="accessor-data-checkbox-label">{{label}}</label>
        <select class="accessor-data-chart-type-select" name="{accessor}}">
            <option value="{{chart}}">{{label}}</option>
            {{#if possibleChartTypes}}
                {{#each possibleChartTypes}}
                        <option value="{{chart}}">{{label}}</option>
                {{/each}}
            {{/if}}
        </select>
    </div>
</script>