.cc-svg .bucket {
  .bucket {
    &.active {
      stroke: grey;
    }

    opacity: 0.8;
    shape-rendering: geometricPrecision;
    fill: steelblue;

    text {
      font-family: FontAwesome;
      text-anchor: middle;
      alignment-baseline: middle;
    }
    text.label {
      stroke: #333;
    }
  }
}
