.cc-svg .map {
  .stroke {
    fill: none;
    stroke: #000;
    stroke-width: 3px;
  }

  .fill {
    fill: #fff;
  }

  .graticule {
    fill: none;
    stroke: #777;
    stroke-width: .5px;
    stroke-opacity: .5;
  }

  .feature {
    fill: #B5BCC4;
  }

  .boundary {
    fill: none;
    stroke: #fff;
    stroke-width: .5px;
  }

  .point {
    fill: #1f77b4;
    stroke: rgba(255,255,255,.5);
    stroke-width: 2px;
    
    &:hover {
      fill: #333;
      stroke: transparent;
    }
  }

  .link {
    fill: none;
    stroke-width: 2px;
    stroke: #1f77b4;
    pointer-events: none;
  }
}
