.cc-svg .bucket {
  .bucket {
    stroke: #ff7f0e;
    shape-rendering: geometricPrecision;
    fill: #ff7f0e;
    fill-opacity: 0.1;

    &.active {
      text {
        opacity: 1;
      }
    }

    text {
      opacity: 0.7;
      stroke-width: 1;
      text-anchor: middle;
      alignment-baseline: middle;
    }
    text.bucket-label {
      opacity: 1;
      stroke-width: 1;
      font-weight: normal;
    }
  }
}
